.header {
	text-align: center;
	font-size: 24px;
	font-weight: 500;
}

.header h1 {
	padding-top: 10px;
}

input, select {
	margin: 10px 0;
}

.container {
	margin: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.small {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (max-width: 1300px) {
	.container {
		flex-direction: column;
		align-items: center;
	}
	.small {
		margin: 20px;
		flex-direction: row;
		justify-content: space-around;
	}
}

.tooltip {
	position: absolute;
	opacity: 0;
	margin: 0;
	pointer-events: none;
	border: 4px solid #53fcad;
	border-radius: 2px;
	background: #f7f2aa;
}

.tooltip p{
	margin: 0 2px;
}

#map svg {
	padding: 20px;
	border: 1px solid black;
	border-radius: 10px;
}

#piechart svg {
	padding: 10px;
}

#barchart svg {
	padding: 10px;
	border: 1px solid black;
	border-radius: 10px;
}
